<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://146.185.160.131:3306/v12_engine</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">Visionario</property>
        <property name="connection.password">SantoySeña</property>
        <property name="show_sql">true</property>
        <mapping class="modelo.entidades.Eficiencia"/>
        <mapping class="modelo.entidades.Marca"/>
        <mapping class="modelo.entidades.Modelo"/>
    </session-factory>
</hibernate-configuration>